.catalog__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    display: flex;
    justify-content: space-between;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.item__link {
  color: $black;
  text-decoration: none;
}

.item__link-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.item__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $grafit;
}

.item__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
