.catalog__header {
  background-color: $grey;
  height: 177px;
  text-align: center;
}

.catalog__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  margin: 0;
}
