.catalog__header {
  background-color: $grey;
  height: 177px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 238px;
    background-image: url("../../source/img/zigzag-fill-desktop.svg");
    background-size: 768px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    min-height: 272px;
    background-size: 1150px;
  }
}

.catalog__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  margin: 0;
  padding-top: 74px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
