.catalog__wrapper {
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-list {
  display: flex;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    margin-bottom: 0;
  }
}

.catalog__item {
  min-height: 372px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 332px;
    margin-top: 0;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    width: 314px;
    min-height: 659px;

    &:last-child {
      margin-bottom: 56px;
    }
  }
}

.item__link-img {
  display: block;
  height: 195px;

  @media (min-width: $tablet-width) {
    height: 332px;
  }
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 177px;
  padding: 0 28px;
  border: 1px solid $box-shadow;

  @media (min-width: $tablet-width) {
    width: 276px;
    height: 329px;
    padding-left: 34px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 254px;
    height: 197px;
    padding-left: 26px;
    padding-right: 30px;
  }
}

.item__inner-link {
  margin-bottom: 18px;
}

.item__link {
  color: $black;
  text-decoration: none;
}

.item__link-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.item__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $grafit;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }
}

.item__inner-price {
  height: 73px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $box-shadow;
  }
}

.item__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.item__button {
  width: 20px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url("../../source/img/cart.svg");
  cursor: pointer;
  outline: none;
}
