.catalog-video {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    min-height: 455px;
  }
}

.catalog-video__wrapper {
  border: 1px solid $box-shadow;
  display: grid;
  grid-template-areas:
    "title"
    "video"
    "desc"
    "btn";
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "video"
      "title"
      "desc"
      "btn";
  }

  @media (min-width: $desktop-width) {
    min-height: 445px;
    grid-template-areas:
      "video title"
      "video desc"
      "video btn";
    grid-template-columns: 683px auto;
    grid-template-rows: auto auto auto;
  }
}

.video__icon {
  padding-left: 34px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 27px;
  }
}

.catalog-title__wrapper {
  grid-area: title;
  padding-top: 21px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    justify-content: flex-start;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-left: 79px;
    padding-bottom: 0;
    flex-direction: column;
  }
}

.video__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.video__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  grid-area: desc;
  margin: 0;
  padding: 35px 34px 41px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding: 25px 42px 41px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.video__button {
  grid-area: btn;
  width: 192px;
  justify-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 584px;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-left: 20px;
  }
}

.catalog__video {
  width: 260px;
  height: 150px;
  grid-area: video;
  position: relative;
  background-image: url("../../source/img/video-mobile.jpg");

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
    background-image: url("../../source/img/video-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 100%;
    background-image: url("../../source/img/video-desktop.jpg");
    background-repeat: no-repeat;
  }
}

.video__button-play {
  position: absolute;
  width: 101px;
  height: 77px;
  top: 50%;
  transform: translate(80%, -50%);
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  background-image: url("../../source/img/play.svg");

  @media (min-width: $tablet-width) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
