.form-description__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.form-description__header {
  background-color: $grey;
  text-align: center;
  min-height: 177px;

  @media (min-width: $tablet-width) {
    min-height: 238px;
    background-image: url("../../source/img/zigzag-fill-desktop.svg");
    background-position: bottom;
    background-repeat: repeat-x;
  }

  @media (min-width: $desktop-width) {
    min-height: 272px;
  }
}

.form-description__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  margin: 0;
  padding-top: 74px;

  @media (min-width: $tablet-width) {
    padding-top: 101px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.form-description__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: $grafit;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding-top: 54px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 99px 174px 63px;
  }
}
