.main-menu {
  background-color: $grey;
  min-height: 489px;
}

.main-menu__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/hero-mobile.jpg");
  min-height: 489px;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.main-menu__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.main-menu__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-menu__button {
  text-decoration: none;
  min-width: 320px;

  p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: $white;
  }
}

.left-button {
  background-color: $tiffany;
  flex-grow: 1;
}

.right-button {
  background-color: $aquamarine;
  flex-grow: 1;
}
