.order-form__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $tiffany;
  text-transform: uppercase;
}

.order-form__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 58px;
}

.form-filter {
  border: none;
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.text-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  outline: none;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }
}

.contacts-input {
  background-color: transparent;
  box-shadow: inset 0 -2px 0 $black;
}

.extra-input {
  border: 2px solid $grafit;
}

.order-form__notice {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $grafit;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.order-form__type {
  display: flex;
  flex-direction: column;
}

.order-form-color__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $grey;
  }
}

.order-form-color {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    height: 304px;
  }

  @media (min-width: $desktop-width) {
    height: 228px;
  }
}

.color__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.order-form__name {
  display: flex;
  flex-direction: column;
}

.order-form-contacts {
  @media (min-width: $tablet-width) {
    background-color: $grey;
    min-height: 228px;
  }
}

.order-form__inner {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
