.page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;

  outline: 5px solid rgba(255, 72, 0, 0.8);
  outline-offset: -5px;
}

.main-nav__wrapper {
  background-color: $white;

  a {
    text-decoration: none;
    color: $black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
}
