.page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
  border-bottom: 1px solid $border-header;
}

.main-nav {
  position: relative;
  width: auto;
  min-height: 79px;
  background-color: $white;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 2;
  display: block;
  background-color: $white;
  width: 21px;
  height: 20px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: $darkgrey;
  box-shadow: 0 6px 0 0 $darkgrey, 0 12px 0 0 $darkgrey;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 35px;
  right: 30px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__logo {
  display: block;
  height: 57px;
  text-align: center;
  padding-top: 22px;

  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }
}

.main-nav__wrapper {
  background-color: $white;
  width: auto;
  position: relative;

  a {
    text-decoration: none;
    color: $black;
  }
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 320px;
    height: 89px;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    z-index: 5;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.site-list__item {
  position: relative;
  display: block;
  padding-left: 76px;
  padding-top: 28px;
  height: 51px;
  box-shadow: 0 1px 0 $box-shadow, inset 0 1px 0 $box-shadow;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    box-shadow: none;
    padding: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    box-shadow: none;
    padding-top: 19px;
    padding-right: 40px;

    &:last-child {
      padding-left: 29px;
    }
  }
}

.site-list__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.user-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 347px;
    flex-direction: row;
  }
}

.user-list__item {
  position: relative;
  padding-left: 76px;
  padding-top: 28px;
  height: 51px;
  box-shadow: 0 1px 0 $box-shadow, inset 0 1px 0 $box-shadow;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    padding: 0;
    height: 88px;
  }

  @media (min-width: $desktop-width) {
    box-shadow: none;
  }
}

.user-list__search-icon {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 18px;
  height: 18px;
  opacity: 0.2;
}

.user-list__search-icon path {
  &:hover,
  &:focus {
    fill: $tiffany;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__cart-icon {
  position: absolute;
  top: 31px;
  left: 30px;
  width: 21px;
  height: 18px;
}

.item-cart {
  width: 264px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.search__input {
  border: none;

  &::placeholder {
    color: $black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 89px;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    opacity: 0.1;
  }
}

.cart__item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 33px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 0 50px;
    height: 89px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 321px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    height: 89px;
    flex-grow: 2;
    text-align: start;
  }

  .search__input::placeholder {
    color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .main-nav__list {
    width: 700px;
  }

  .page-header__logo {
    order: 2;
  }

  .site-list {
    width: 400px;
    align-items: center;
  }

  .user-list {
    order: 3;
  }
}

.extra-list__wrapper {
  display: flex;
  justify-content: space-between;
}

.extra-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    top: 92px;
    left: 50px;
    z-index: 2;
  }
}

.extra-list__link {
  @media (min-width: $desktop-width) {
    color: $black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    padding-right: 60px;
  }
}

.extra-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 95px;
    right: 50px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    top: 95px;
  }
}
