.page-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $black;
}

.page-header__logo {
  display: block;
  height: 79px;
  text-align: center;
}

.main-nav__wrapper {
  background-color: $white;
  width: auto;
  padding: 0 20px;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: $black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
}

.site-list {
  list-style: none;
  padding: 0;
}

.user-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 668px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 321px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    height: 89px;
    flex-grow: 2;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .user-list {
    display: flex;
    flex-direction: row;
  }

  .search__input {
    width: 82px;
    height: 88px;
  }

  .search__input::placeholder {
    color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
    margin: 0 auto;
  }

  .main-nav__list {
    width: 700px;
  }

  .page-header__logo {
    order: 2;
  }

  .user-list {
    order: 3;
  }
}
