.page {
  height: 100%;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
}
