.page-footer {
  background-color: $grey;
  margin-top: 39px;
}

.page-footer__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.copyright__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

.page-footer__social {
  min-height: 79px;
  border-bottom: 1px solid $border-grey;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 59px;
  padding-top: 25px;
  width: 142px;
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright {
  min-height: 79px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
