.page-footer {
  background-color: $grey;
}

.page-footer__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 143px;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
