.popular-product__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
    padding-top: 20px;
    display: grid;
    grid-template-areas:
      "header header"
      "desc img"
      "price img"
      "button img";
    grid-template-columns: 292px 1fr;
    grid-template-rows: auto auto 90px 52px;
    grid-column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 0 50px;
    grid-template-areas:
      "header header img"
      ". desc img"
      ". price img"
      ". button img";
    grid-template-columns: 127px 350px 1fr;
    grid-template-rows: 170px auto 90px 52px;
    margin-top: 54px;
  }
}

.popular-product__header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
    min-width: 668px;
    flex-direction: row;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-top: 68px;
    justify-content: space-between;
  }
}

.popular-product__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $tiffany;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
  order: 2;

  @media (min-width: $tablet-width) {
    width: 100px;
    line-height: 17px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-right: 23px;
  }
}

.popular-product__subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-right: 130px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    order: 2;
    z-index: 2;
    padding-right: 0;
  }
}

.popular-product__description {
  min-width: 260px;
  grid-area: desc;
  margin-bottom: 28px;
}

.popular-product__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $grafit;
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 42px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.popular-product__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $grafit;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 21px;
  text-align: center;
  grid-area: price;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-top: 34px;
    padding-left: 75px;
  }
}

.popular-product__image {
  width: auto;
  grid-area: img;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    padding-top: 10px;
  }
}

.popular-product__order {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  grid-area: button;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-bottom: 0;
    align-self: start;
    cursor: pointer;
  }
}

.popular-product__specification {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: $grafit;
  width: 260px;
  padding: 0 30px;
  border-collapse: collapse;

  td {
    padding-top: 7px;
    border-bottom: 1px solid $border-grey;
    padding-right: 20px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      padding-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 292px;
  }
}

.popular-product {
  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

.popular-product__icon-border {
  position: absolute;
  width: 100%;
  height: 6px;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 17px;
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    height: 23px;
    width: 1050px;
    padding-top: 67px;
  }
}
