.popular-product__wrapper {
  outline: 5px solid rgba(68, 0, 255, 0.8);
  outline-offset: -5px;
}

.popular-product__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $tiffany;
}

.popular-product__subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.popular-product__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $grafit;
}

