.popular-product__wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 668;
    padding: 0 50px;
    display: grid;
    grid-template-areas:
      "header header"
      "desc img"
      "price img"
      "button img";
    grid-template-columns: 292px 1fr;
    grid-template-rows: auto auto  52px;
    grid-column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    grid-template-areas:
      "header header img"
      ". desc img"
      ". price img"
      ". button img";
    grid-template-columns: 100px 292px 1fr;
    margin-top: 54px;
  }
}

.popular-product__header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 38px;
    min-width: 668px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.popular-product__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $tiffany;
  margin: 0;
  padding: 0;
  order: 2;

  @media (min-width: $tablet-width) {
    width: 100px;
    line-height: 17px;
    display: flex;
    flex-wrap: wrap;
  }
}

.popular-product__subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    order: 2;
    z-index: 2;
  }
}

.popular-product__description {
  min-width: 260px;
  grid-area: desc;
  margin-bottom: 28px;
}

.popular-product__text {
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 48px;
  }
}

.popular-product__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $grafit;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 25px;
  text-align: center;
  grid-area: price;
}

.popular-product__image {
  width: auto;
  grid-area: img;

  @media (min-width: $tablet-width) {
    justify-self: end;
    min-width: 334px;
  }
}

.popular-product__order {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  grid-area: button;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    align-self: end;
  }
}

.popular-product__specification {
  width: 260px;
  padding: 0 30px;
  border-collapse: collapse;

  td {
    border-bottom: 1px solid $border-grey;
    padding-right: 20px;
    padding-bottom: 12px;
  }
}
