.social {
  min-height: 79px;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 59px;
  padding-top: 25px;
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
