$tiffany: #63d1bb;
$aquamarine: #56c3b2;
$grafit: #444444;
$darkgrey: #231f20;
$white: #ffffff;
$black: #000000;
$grey: #f1f1f1;
$box-shadow: #ececec;
$border-grey: #e5e5e5;
$border-aquamarine: #62d1ba;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
